<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans.xsd
                                 http://www.springframework.org/schema/jdbc
                                 http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                                 http://www.springframework.org/schema/data/jpa
                                 http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaDialect">
        <property name="lazyDatabaseTransaction" value="true"></property>
    </bean>

    <bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="packagesToScan">
            <list>
                <value>test.entities</value>
            </list>
        </property>
        <property name="jtaDataSource">
            <bean class="com.atomikos.jdbc.AtomikosDataSourceBean"
                    destroy-method="close">
                <property name="xaDataSource">
                    <bean class="org.h2.jdbcx.JdbcDataSource">
                        <property name="URL" value="jdbc:h2:mem:myAppDatabase;TRACE_LEVEL_FILE=4"></property>
                    </bean>
                </property>
                <property name="uniqueResourceName" value="db"/>
            </bean>
        </property>
        <property name="persistenceUnitName" value="mypersistenceunit"/>

        <property name="jpaVendorAdapter">
            <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
                <property name="showSql" value="true" />
                <property name="generateDdl" value="true"/>
                <property name="databasePlatform" value="org.eclipse.persistence.platform.database.H2Platform"/>
            </bean>
        </property>
        <!-- see http://www.eclipse.org/eclipselink/api/2.4/org/eclipse/persistence/config/PersistenceUnitProperties.html -->
        <property name="jpaProperties">
            <props>
                <prop key="eclipselink.cache.shared.default">false</prop>
                <prop key="eclipselink.transaction.join-existing">true</prop>
                <prop key="eclipselink.target-server">com.atomikos.eclipselink.platform.AtomikosPlatform</prop>
                <prop key="eclipselink.target-database">org.eclipse.persistence.platform.database.H2Platform</prop>
                <prop key="javax.persistence.transactionType">JTA</prop>
            </props>
        </property>
        <property name="jpaDialect" ref="jpaDialect"/>
    </bean>
    <jpa:repositories base-package="test.persistence" />
</beans>